@model hashtag_search.Models.ResultViewModel
@{
    ViewBag.Title = "Search";
}

<br />
@if (Model.HasError)
{
    <hr />
    <div class="row">
        <div class="error-pane col-lg-7 col-md-offset-3 col-md-8 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-12">
            <p class="full-width">Search Error: @Model.ErrorMessage</p>
        </div>
    </div>
    <hr />
}

<form action="/Search/Search" method="post">
    <input id="LastTweetId"
           name="LastTweetId"
           type="hidden"
           value="@Model.PreviousTweetId" />
    <input id="NextTweetId"
           name="NextTweetId"
           type="hidden"
           value="@Model.NewLastTweetId" />
    <input id="LastPage"
           name="LastPage"
           type="hidden"
           value="@Model.PreviousPage" />

    <div class="row">
        <div class="col-lg-offset-3 col-lg-1 col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1">
            @Html.Label("Search: ")
        </div>
        <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
            <input type="text" placeholder="Enter hashtag to search for..." name="Search" value="@Model.LastRequest.Search" class="full-width">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-3 col-lg-1 col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-2">
            @Html.Label("Count: ")
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
            <input type="number" name="PageSize" value="@Model.LastRequest.PageSize" class="fifty-pixel-width" >
        </div>
        @if (Model.Tweets != null && Model.Tweets.statuses != null && Model.Tweets.statuses.Any() || !string.IsNullOrEmpty(Model.LastRequest.LastTweetId))
        {
            <div class="col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-2">
                @Html.Label("Page: ")
            </div>
            <div class="col-lg-1">
                <input type="number" name="Page" value="@Model.LastRequest.Page" class="fifty-pixel-width" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-1 col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1">
            <br />
            <input type="submit" value="Go" class="input-sm" />
        </div>
    </div>
</form>
@if (Model.IsSearch && !Model.HasError)
{
    if (Model.Tweets != null && Model.Tweets.statuses != null && Model.Tweets.statuses.Any())
    {
        <hr />
        <div class="row">
            <ul class="list-group col-lg-offset-3 col-lg-7 col-md-offset-3 col-md-8 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-12">
                @foreach (var item in Model.Tweets.statuses.ToList())
                {
                    <li class="list-group-item full-width">
                        <div class="twitter-list-tweet">
                            <img class="twitter-profile-image float-left" src="@item.user.profile_image_url" />
                            <span class="fifteen-point-padding-top"><b>@item.user.name</b></span> 
                            <p class="fourteen-point-font twitter-screen-name"><i>@Html.Raw("@")@item.user.screen_name</i></p>
                            <p>@item.full_text</p>
                            <p class="fourteen-point-font twitter-time-stamp">@item.created_at</p>
                            <br />
                            <span class="fourteen-point-font fifteen-point-margin-right light-slate-gray">Likes: @item.favorite_count</span>
                            <span class="fourteen-point-font light-slate-gray">Retweets: @item.retweet_count</span>
                            <button class="btn btn-primary float-right" onclick="window.open('https://twitter.com/intent/like?tweet_id=@item.id_str')">Like</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    else if (Model.LastRequest.PageSize > 100)
    {
        <hr />
        <div class="row">
            <div class="col-lg-offset-3 col-lg-7 col-md-offset-3 col-md-8 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-12">
                <p class="full-width">Please choose a count between 1 and 100.</p>
            </div>
        </div>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-lg-offset-3 col-lg-7 col-md-offset-3 col-md-8 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-12">
                <p class="full-width">There were no results found. Please try searching for another hashtag.</p>
            </div>
        </div>
    }
}
<br />
